section#about.about
	.container
		.about__content
			.title-wrapper
				h2.section-title О Компании
			.about__descr
				p
					| Компания TCL (Technical Chemical Laboratories) - международный производитель моющих
					| средств для профессионального использования на предприятиях общественного питания, в
					| индустрии гостеприимства, прачечных и здравоохранении.

				p
					| История компании началась в 1975 году в Египте. В данный момент продукция компании
					| представлена в 46 странах, штаб-квартира находится в Дубае, ОАЭ. Весь ассортимент моющих
					| средств, представленный с 2016 года на рынке России и стран СНГ, изготавливается в
					| соответствии со стандартами компании на собственном производстве в г. Санкт-Петербурге,
					| Россия. 
				p
					| С момента основания компании и по сей день мы придерживаемся идеи производства
					| эффективных моющих средств, безопасных для окружающей среды и человека, а также
					| предоставления клиенту безупречного сервиса в т.ч., но не ограничиваясь, подбором и
					| внедрением ассортимента моющих средств, установкой и обслуживанием дозирующих систем,
					| обучением персонала клиента и дистрибьюторов.
			
