footer.footer
	.container
		.footer__social
			.social 
				ul.social__list.flex 
					li.social__item 
						a.social__link(href="https://www.youtube.com/@TCLGCC" target="_blank")
							object(data="./img/social/youtube.svg" type="image/svg+xml" role="img" width="42" height="42" ) 
		.footer__app 
			.app
				.app__row.flex 
					a(href="https://apps.apple.com/ru/app/tcl-detergents/id1640692052" target="_blank").app__link
						img(src="./img/social/appstore.svg", alt="App store")
					a(href="https://play.google.com/store/apps/details?id=com.tcl.tcl_detergents" target="_blank").app__link
						img(src="./img/social/gstore.svg", alt="Google play store")
	a(href="#top" class="backtop-btn" id="backtop")
		svg.svg-up 
			use(href="./img/spriteSvg.svg#svg-up")