section#products.products
	.container
		.title-wrapper
			h2.section-title Продукция
		.products__carousel
			.owl-carousel
				.card
					img.card__img(src='./img/products/kitchen.webp' alt='Забота о продуктах')
					h4.card__title Ресторан
					p.card__text
						| Мойка поверхностей и оборудования в зоне приготовления пищи, мойка посуды, уборка в гостевой зоне
				.card
					img.card__img(src='./img/products/room-care.webp' alt='Отдел хозяйственного обслуживания')
					h4.card__title Отель
					p.card__text
						| Уборка в номерном фонде и общих зонах, личная гигиена персонала и гостей
				.card
					img.card__img(src='./img/products/hygiene.webp' alt='Личная гигиена')
					h4.card__title Личная гигиена
					p.card__text
						| Личная гигиена персонала и посетителей	
				.card
					img.card__img(src='./img/products/laundry.webp' alt='Стирка белья, полотенец, одежды, удаление сильных загрязнений, неприятных запахов')
					h4.card__title Прачечная
					p.card__text
						| Стирка белья, полотенец, одежды, удаление сильных загрязнений, неприятных запахов
				.card
					img.card__img(src='./img/products/fitness.webp' alt='Уборка тренажерных залов, душевых, саун')
					h4.card__title Фитнес
					p.card__text Уборка тренажерных залов, душевых, саун
				.card
					img.card__img(src='./img/products/pool.webp' alt='Очистка и уход за бассейнами')
					h4.card__title Бассейны
					p.card__text Очистка и уход за бассейнами
