section#services.services
	.container
		.title-wrapper
			h2.section-title Сервисы
		.services__content
			ul.services__list.flex
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/audit.webp' alt='Аудит гигиены')
						h4.service-card__title Аудит гигиены
						p.service-card__text
							| TCL Hygiene Audit является утвержденной методикой оценки эффективности работы санитарных и
							| гигиенических практик, применяемых на различных объектах в организациях
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/training.webp' alt='Обучение')
						h4.service-card__title Обучение
						p.service-card__text
							| Обучение персонала эффективному, безопасному и экономичному использованию моющих средств
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/dispenser.webp' alt='Дозирующие устройства')
						h4.service-card__title Дозирующие устройства
						p.service-card__text
							| Предоставление дозирующего оборудования для использования моющих средств
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/support.webp' alt='Техническая поддержка')
						h4.service-card__title Техническая поддержка
						p.service-card__text
							| Установка дозаторов и дальнейшее регулярное обслуживание и ремонт
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/sales-visit.webp' alt='Тестирование')
						h4.service-card__title Тестирование
						p.service-card__text
							| Демонстрация и дальнейшее полноценное тестирование моющих средств на объекте клиента
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/delivery.webp' alt='Логистика')
						h4.service-card__title Логистика
						p.service-card__text
							| Обеспечение логистики от производства до конечного объекта клиента силами дистрибьюторов компании