extends ../layouts/layout-eng.pug

block content
	include ../sections/eng/_header-eng.pug
	main 
		include ../sections/eng/_about-eng.pug
		include ../sections/eng/_products-eng.pug
		include ../sections/eng/_services-eng.pug
		include ../sections/eng/_contacts-eng.pug
		
	include ../sections/eng/_footer-eng.pug

	
	
	
block variables
	-var title = "Technical Chemical Laboratories - TCL";
