section#about.about
	.container
		.about__content
			.title-wrapper
				h2.section-title About Us
			.about__descr
				p
					| TCL (Technical Chemical Laboratories) is an international manufacturer of detergents for professional 
					| use in the catering, hospitality, laundry and healthcare industries.


				p
					| The company's history began in 1975 in Egypt. Currently, the company's products are represented in 46 
					| countries, with headquarters in Dubai, UAE. The entire range of detergents, presented since 2016 on 
					| the market of Russia and CIS countries, is manufactured in accordance with the company's standards at 
					| its own production facility in St. Petersburg, Russia. 
				p
					| Since the company's foundation and to this day we have been committed to the idea of producing 
					| effective detergents that are safe for the environment and humans, as well as providing the customer 
					| with impeccable service, including, but not limited to, selection and implementation of the detergent 
					| range, installation and maintenance of dosing systems, training of customer and distributor personnel.

