section#contacts.contacts 
	.container
		.title-wrapper
			h2.section-title Contact Us
		.contacts__content.flex
			.address
				h3.subtitle.subtitle--mb Contact info
				ul.address__list 
					li.address__item
						a.address__link.address__link--map(href="https://yandex.ru/maps/?um=constructor%3A79e9db562bca905bd93ab6fc8d83e65c7f6e60ff0062f76d8ed8e13f903aaa0a&source=constructorLink" target="_blank") Saint-Petersburg, Torzhkovskaya st. 5
					li.address__item
						a.address__link.address__link--phone(href="tel:+79818142233") +7 (981) 814 22 33
					li.address__item
						a.address__link.address__link--phone(href="tel:+79818152233") +7 (981) 815 22 33
					li.address__item
						a.address__link.address__link--phone(href="tel:+78123726649") +7 (812) 372 66 49
					li.address__item
						a.address__link.address__link--mail(href="mailto:Info@tclru.com") info@tclru.com
					
			.map 
				script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A79e9db562bca905bd93ab6fc8d83e65c7f6e60ff0062f76d8ed8e13f903aaa0a&width=100%&height=100%&lang=ru_RU&scroll=false')

