section#products.products
	.container
		.title-wrapper
			h2.section-title Production
		.products__carousel
			.owl-carousel
				.card
					img.card__img(src='./img/products/kitchen.webp' alt='Restaurant')
					h4.card__title Restaurant
					p.card__text
						| Surface and equipment cleaning in food preparation area, dish washing, cleaning in visitor’s area
				.card
					img.card__img(src='./img/products/room-care.webp' alt='Hotel')
					h4.card__title Hotel
					p.card__text
						| Cleaning of rooms and common areas, personal care of staff and guests
				.card
					img.card__img(src='./img/products/hygiene.webp' alt='Personal Care')
					h4.card__title Personal Care
					p.card__text
						| Personal care of staff and visitors	
				.card
					img.card__img(src='./img/products/laundry.webp' alt='Laundry')
					h4.card__title Laundry
					p.card__text
						| Washing of linen, towels, clothes, removal of strong dirt, unpleasant odours
				.card
					img.card__img(src='./img/products/fitness.webp' alt='Gym Equipment')
					h4.card__title Gym Equipment
					p.card__text Cleaning of gyms, showers, saunas
				.card
					img.card__img(src='./img/products/pool.webp' alt='Water Treatment')
					h4.card__title Water Treatment
					p.card__text Cleaning and maintenance of swimming pools
