section#services.services
	.container
		.title-wrapper
			h2.section-title Services
		.services__content
			ul.services__list.flex
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/audit.webp' alt='Hygiene Audit')
						h4.service-card__title Hygiene Audit
						p.service-card__text
							| The TCL Hygiene Audit is a proven methodology for assessing the performance of sanitation and 
							| hygiene practices implemented in various facilities within organizations.
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/training.webp' alt='Training')
						h4.service-card__title Training
						p.service-card__text
							| Training staff on effective, safe, and cost-efficient use of cleaning agents
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/support.webp' alt='Technical service')
						h4.service-card__title Technical service
						p.service-card__text
							| Installing dosing systems and further regular maintenance and repairs
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/dispenser.webp' alt='Dosing systems')
						h4.service-card__title Dosing systems
						p.service-card__text
							| Providing dispensers for detergent use			
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/sales-visit.webp' alt='Trial Period')
						h4.service-card__title Trial Period
						p.service-card__text
							| Demonstration and trial period of detergent use at the client's premises
				li.services__item 
					.service-card
						img.service-card__img(src='./img/services/delivery.webp' alt='(Logistics')
						h4.service-card__title Logistics
						p.service-card__text
							| Providing logistics from the factory to the end customer through the company's distributors